html, body{
    height: 100%;
}

.content {
    padding: 1%;
    height: 100%;
}


.formulier{
    margin-top: 10%;
}

input {
    margin-top: 1%;
    margin-bottom: 4%;
}

.messages {
    margin-top: 2%;
}

.blok {
    max-width: 25%;
    height: 50%;
}