<nav class="navbar navbar-expand-lg navbar-dark bg-success">

  <div class="container">

    <span class="navbar-brand text-light">My App</span>

    <button 

      class="navbar-toggler" 

      type="button" 

      data-toggle="collapse" 

      data-target="#navbarNav" 

      aria-controls="navbarNav" 

      aria-expanded="false" 

      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item" role="menuitem">

          <a class="nav-link" routerLink="">Home</a>

        </li>

        <li class="nav-item" role="menuitem">

          <a class="nav-link" routerLink="/cursus-overzicht">Cursus Overzicht</a>

        </li>
        <li class="nav-item" role="menuitem">

          <a class="nav-link" routerLink="/cursus-toevoegen">Cursus toevoegen</a>

        </li>

      </ul>

    </div>

  </div>

</nav>
<router-outlet></router-outlet>
